:root{
    --dark-grey: #525252;
    --red-cta: #901C1C;
    --orange: #DB9976;
    --high-contrast: magenta;
}

:focus-visible{
    outline: 3px solid var(--high-contrast);
    z-index: 100;
}

.media-card__like-counter:focus-visible {
    outline-offset: -3px;
}

img:focus-visible,
video:focus-visible {
    outline-width: 5px;
    outline-offset: -5px;
}

main {
    width: 100%;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 50px;
    overflow: hidden;
}

.photograph-header h1 {
    font-size: 4rem;
    color: var(--red-lighter);
    margin: 0;
}

.photograph-header p.location {
    font-size: 1.5rem;
    color: var(--red-darker);
    margin: 0;
}

.photograph-header p.tagline {
    font-size: 1.125rem;
    color: var(--dark-grey);
    margin: 0;
}

.contact_photographer {
    display: flex;
    justify-content: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--red-cta);
    border-radius: 5px;
    cursor: pointer;
}

.photograph-header .photographer__profilePic {
    display: flex;
    justify-content: center;
}

.photograph-header .photographer__profilePic--frame {
    width: 200px;
    height: 200px;
    /*object-fit: cover;*/
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.photograph-header .photographer__profilePic img {
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.sort-bar{
    margin: 20px 100px;
    font-weight: 700;
    font-size: 1.125rem;
}

/* ################# SORT COMPONENT ################### */
.component-block{
    height: 70px;
}

.component-visual {
    position: absolute;
    height: 70px;
    margin-bottom: 0;
    border: none;
    overflow: hidden;
    background: darkred;
    border-radius: 5px;
    padding: 0 20px;
}

.component-visual:hover,
.component-visual.hovered {
    height: 171px;
}

button {
    height: 70px;
    width: 170px;
    background-color: darkred;
    color: white;
    font-weight: bold;
    font-size: 1.125rem;
    border-radius: 5px;
    border: none;
    text-align: center;

}

.sorter-component-button{
    height: 70px;
    width: 150px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.component-visual button:first-child::after{
    content: url("../assets/icons/arrow_down.svg");
    height: 22px;
}

.component-visual:hover button,
.component-visual.hovered button {
    height: 53px;
}

.component-visual:hover button:first-child,
.component-visual.hovered button:first-child {
    padding-top: 12px;
    height: 58px;
}

.component-visual:hover button:first-child::after,
.component-visual.hovered button:first-child::after {
    content:url("../assets/icons/arrow_up.svg");
    height: 22px;
}

.component-visual:hover button:last-child,
.component-visual.hovered button:last-child {
    padding-bottom: 12px;
    height: 58px;
}

.component-visual:hover .separator,
.component-visual.hovered .separator {
    margin: 0 auto;
    height: 1px;
    width: 150px;
    background-color: white;
}

/*################ PHOTOGRAPHER PORTFOLIO ######################*/
.photographer-portfolio{
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    row-gap: 10px;
    justify-content: space-between;
}

.media-card{
    width: 350px;
    height: 350px;
    object-fit: contain;
    overflow: hidden;
}

.media-card__media > * {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
}

.media-card__txt{
    max-height: 50px;
    /*background-color: #2c91e3;*/
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: var(--red-darker);
}

.media-card__txt > p {
    margin: 0;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}

.media-card__like-counter::after {
    content: url(../assets/icons/heart_empty.svg);
    display: inline-block;
    margin: 0 4px;
    height: 32px;
    align-content: center;
    vertical-align: middle;
}

.media-card__like-counter[updated="true"]::after {
    content: url(../assets/icons/heart_full.svg);
}

/*################# POPULARITY BAR COMPONENT #########################*/
.popularity-bar {
    position: fixed;
    width: 380px;
    height: 70px;
    background-color: var(--orange);
    border-radius: 5px 5px 0 0;
    bottom:0;
    right: 36px;
    display: flex;
    justify-content: space-between;
}

.popularity-bar > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popularity-bar > div > p {
    margin: 0;
    font-size: 1.5rem;
}

.popularity-bar__likes > img {
    margin-left: 5px;
    width: 21px;
}

/*########################## CONTACT MODAL ###########################*/
.contact-bg {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    height: 1024px;
    min-height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
}

.contact-modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    min-width: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 60px auto 0 auto;
}

.contact-modal header {
    justify-content: space-between;
    width: 100%;
    height: 200px;
}

.contact-modal header img {
    cursor: pointer;
}

.contact-modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input,
form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 2.25rem;
}

form input {
    height: 68px;
}

form textarea {
    height: 170px;
}

input#email.inputError {
    border: dashed 3px var(--red-lighter);
}

input#email.inputError + span::before {
    content: "Erreur: Veuillez entrer une adresse e-mail valide (nom@domaine.tld)";
    display: block;
    background-color: var(--red-lighter);
    color: var(--white-point);
}

textarea#message.inputError {
    border: dashed 3px var(--red-lighter);
}

textarea#message.inputError + span::before {
    content: "Erreur: Veuillez ne pas laisser ce champ vide";
    display: block;
    background-color: var(--red-lighter);
    color: var(--white-point);
}

.contact_button:disabled {
    cursor: not-allowed;
    background-color: var(--dark-grey);
}

.contact_button:disabled + span::before {
    content: "*Veuillez renseigner tous les champs obligatoires signalés par une astérisque (*)";
    display: block;
    background-color: var(--red-lighter);
    color: var(--white-point);

}

/*############################# LIGHTBOX MODAL #########################*/
.lightbox-bg {
    display: none;
    position: sticky;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
}

.lightbox-modal{
    position: absolute;
    top: 5vh;
    left: 5vw;
    margin: auto;
    background-color: var(--white-point);
    width: 90vw;
    height: 90vh;
    border-radius: 5px;
}

.lightbox-modal__close{
    position: absolute;
    top: 40px;
    right: 40px;
    width: 42px;
}

.lightbox-modal__display{
    display: flex;
    height: calc(100% - 62px);
    margin-top: 25px;
}

.lightbox-modal__control{
    flex-basis: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-modal__viewer {
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
}

.lightbox-modal__title {
    height: 62px;
    margin: 0 96px;
    font-size: 1.5rem;
    color: var(--red-cta);
}

.lightbox-modal__viewer > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lightbox-modal__viewer > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}